**/.DS_Store
**/.idea
**/.vscode
**/target
**/**.env
**/docker_env.sh
**/**.zip
**.cache
**.mysql
./docker
**/privatekey.pem
**/publickey.pub
.test

.mysql
docker/.postgresql
docker/nginx/certs/**.crt
docker/nginx/certs/**.key
docker/nginx/nginx.conf
docker/keycloak/Dockerfile
docker/keycloak/**.keystore