**/.DS_Store
**/.idea
**/.vscode
**/target
**/**.env
**/docker_env.sh
**/**.zip
**.cache
**.mysql
./infra/docker
**/privatekey.pem
**/publickey.pub
.test
**/null/**

.mysql
infra/docker/.postgresql
infra/docker/nginx/certs/**.crt
infra/docker/nginx/certs/**.key
infra/docker/nginx/nginx.conf
infra/docker/keycloak/Dockerfile
infra/docker/keycloak/**.keystore
**/deployed-dependencies/**