**/.DS_Store
**/.idea
**/.vscode
**/target
**/**.env
**/docker_env.sh
**/**.zip
**.cache
**.mysql
./docker
**/privatekey.pem
**/publickey.pub
.test

.mysql
.postgresql
nginx/certs/**.crt
nginx/certs/**.key
nginx/nginx.conf
docker/keycloak/Dockerfile
docker/keycloak/**.keystore